<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.glut.news">
    <uses-sdk tools:overrideLibrary="com.android.support:appcompat-v7:26.0.0-alpha1" />
    <!--危险权限-->
    //读取音频
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    //拍照权限
    <uses-permission android:name="android.permission.CAMERA" />
   <!-- //拨打电话权限
    <uses-permission android:name="android.permission.CALL_PHONE" />-->
    //允许sd卡写权限，需写入地图数据，禁用后无法显示地图
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //获取精确位置
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //获取错略位置
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <!-- 普通权限-->
    //获取设备网络状态，禁用后无法获取网络状态
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //网络权限，当禁用后，无法进行检索等相关业务
    <uses-permission android:name="android.permission.INTERNET" />
    //读取设备硬件信息，统计数据
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //获取设备的网络状态，鉴权所需网络代理
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    //获取统计数据
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //鉴权所需该权限获取进程列表
    <uses-permission android:name="android.permission.GET_TASKS" />


    //开机自动允许
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    //获取账户信息
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    //震动权限
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>



    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/jikezhixue_icon3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:label,android:name">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2KGyja7nt2dRkK7L0QYqwMQWgA84b3lN" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.glut.news"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:theme="@style/DefaultCityPickerTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".home.view.activity.ArticleDetailActivity"
       />
        <activity android:name=".WelcomeActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".video.view.activity.VideoDetailActivity" />
        >


        <activity android:name=".discover.view.fragment.activity.ZhiHuDetailActivity" />
        <activity android:name=".discover.view.fragment.activity.GuoKrDetailActivity" />
        <activity android:name=".discover.view.fragment.activity.OneDetailActivity" />
        <activity android:name=".my.view.activity.StarWithHistoryActivity" />
        <activity android:name=".my.view.activity.OtherSettingActivity" />
        <activity android:name=".my.view.activity.UserAlterActivity"    android:theme="@style/DefaultCityPickerTheme"/>
        <activity android:name=".login.view.fragment.LoginActivity"
            android:theme="@style/Translucent"
            />
        <activity android:name=".login.view.fragment.RegisterActivity" />
        <activity android:name=".login.view.fragment.ForgetPwdActivity" />
        <activity android:name=".common.view.IntroActivity"
            android:theme="@style/Translucent"/>
        <activity android:name=".my.view.activity.InterestTagActivity" />


    </application>

</manifest>